{% extends "_skeleton_template.html" %}
{% block title %}Lamar's Web Apps - Site Sleuth{% endblock %}
{% block content %}
    <h1 class="page-header">Welcome to Twata!</h1>
    <p class="lead">Twitter data collection - New topic every week</p>

    <div class="row">
        <div class="col-xs-11 col-md-5 maintext">
            <div>
                <p><center>This is where the topic of the week will be.</center></p>
            </div>
        </div>

        <div class="col-xs-11 col-md-5 maintext" style='position:absolute; right:7%;'>
            <div>
                <center>

                    <div class="graph" id="neg_graph">
                        <h3>Negative Tweets About the Housemates</h3>
                        <script>{{graph_neg_script}}</script>
                        <div id='housemateArea'>
                        <div class='housemate' id='Amelia' style='left: 20px; color:white;'><strong>Amelia</strong></div>
                        <div class='housemate' id='Chad' style='left: 180px; color:white;'><strong>Chad</strong></div>
                        <div class='housemate' id='Derek' style='left: 340px; color:white'><strong>Derek</strong></div>
                        <div class='housemate' id='Jemma' style='left: 500px; color:white;'><strong>Jemma</strong></div>
                        <div class='housemate' id='Sam' style='left: 660px; color:white;'><strong>Sam</strong></div>
                        <div class='housemate' id='Sarah' style='left: 820px; color:white;'><strong>Sarah</strong></div>
                        <div class='housemate' id='Shaun' style='left: 980px; color:white;'><strong>Shaun</strong></div>
                    </div>
                    <p style="text-align:left; position:relative; bottom:10px; left:5px">
                        <span style="font-size:15pt;"><strong>Graph started collecting tweets: </strong>{{date}}</span>
                    </p>
                    </div>
                </center>
                <br><br>
                <center>

                    <div class="graph" id="pos_graph">
                        <h3>Positive Tweets About the Housemates</h3>
                        <script>{{graph_pos_script}}</script>
                        <div id='housemateArea'>
                        <div class='housemate' id='Amelia' style='left: 20px; color:white;'><strong>Amelia</strong></div>
                        <div class='housemate' id='Chad' style='left: 180px; color:white;'><strong>Chad</strong></div>
                        <div class='housemate' id='Derek' style='left: 340px; color:white'><strong>Derek</strong></div>
                        <div class='housemate' id='Jemma' style='left: 500px; color:white;'><strong>Jemma</strong></div>
                        <div class='housemate' id='Sam' style='left: 660px; color:white;'><strong>Sam</strong></div>
                        <div class='housemate' id='Sarah' style='left: 820px; color:white;'><strong>Sarah</strong></div>
                        <div class='housemate' id='Shaun' style='left: 980px; color:white;'><strong>Shaun</strong></div>
                    </div>
                    <p style="text-align:left; position:relative; bottom:10px; left:5px">
                        <span style="font-size:15pt;"><strong>Graph started collecting tweets: </strong>{{date}}</span>
                    </p>
                </div>

                <center><img src="/static/housemates1.png" style="width:95%; position:relative; top:730px;"></center>
        </center>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/d3.min.js"></script>
{% endblock %}